@charset "UTF-8";

.q3__block {
  background-color: #ecf1f2;
  height: 500px;
  margin: 0 auto;
  position: relative;
  width: 500px;
}
.q3__box {
  font-size: 30px;
  font-weight: bold;
  line-height: 100px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.q3__box_1 {
  background-color: #ffefd3;
  left: 200px;
  top: 40px;
  z-index: 1;
}

.q3__box_2 {
  background-color: #7084de;
  left: 280px;
  top: 120px;
  z-index: 2;
}

.q3__box_3 {
  background-color: #d0ecea;
  left: 360px;
  top: 200px;
  z-index: 3;
}

.q3__box_4 {
  background-color: #8b7a5e;
  left: 280px;
  top: 280px;
  z-index: 4;
}

.q3__box_5 {
  background-color: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 5;
}

.q3__box_6 {
  background-color: #fffee4;
  left: 120px;
  top: 280px;
  z-index: 6;
}

.q3__box_7 {
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 7;
}

.q3__box_8 {
  background-color: #de70cf;
  left: 120px;
  top: 120px;
  z-index: 8;
}

.q3__box_8::after {
  background-color: #ffefd3;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.q3__box_button {
  bottom: 50px;
  position: fixed;
  right: 50px;
}
/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください */