@charset "UTF-8";

.q4__text-align {
  text-align: center;
}

.q4__inline {
  display: inline-block;
}

.q4__margin {
  margin: 0 auto;
}

.q4__table {
  display: table;
}

.q4__table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q4__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q4__relative {
  position: relative;
}

.q4__fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q4__flexible {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.q4__text_center {
  text-align: center;
}
/* q4が終わったら
q5のcssはq5フォルダの中のcssファイルに記述してください */